  
  *{
    margin: 0;
    padding: 0;
    
    
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    width: 99.355vw;
    height: auto;
    font-size: 16px;
    
}
  
  
  /* Font */
  .open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
     
  }

  
  
  /* shared classes */
  .text-primary{
    color: #FD6E0A;
  }

  .dark-1{
    color: #181818;
  }

  .dark-2{
    color:#474747;
  }

  .dark-3{
    color: #757575;
  }

  .secondary-bg{
    background-color:#FFF8F3;
  }

  .btn-primary{
    background-color: #FD6E0A;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 1.3rem; /* 20px */
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    
  }

  /*== end of shared class== */


  /* Header */
  .header{
    background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top 20% left 3%, bottom  right;
    background-size: auto;
    width: 100%;
    height: 100vh;
    position: relative;
 
  }

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 9% 7% 10%;
   
}




  .nav-title{
    font-weight: 800;
    font-size: 3rem;
  }



  nav ul li{
    list-style: none;
   
    margin-right: 51px;
  }

  nav li a{
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-size: 1.3rem;
  }

  nav ul{
    display: flex;
    align-items: center;
   
  }

  nav .btn-primary {
    width: 150%;
    height: 6vh;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
  }


  /* Banner  */

  .banner{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    height: 100vh;
    width: 40%;
    
   
  }


 .banner-greetings{
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size: 2.925rem;
   
 }

 .banner-title {
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 5.252rem;
    margin-bottom: 5%;
    
 }


 .banner-description{
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size: 1.17rem;
    margin-bottom: 7%;
 }

 .banner .btn-primary{
    margin-right: 5%;
    width: 30%;
    height:7.5%;
    
    
    
 }

 .banner .contact-btn{
  background-color: #FFF8F3;
  color:#FD6E0A;
  border: 1px solid #FD6E0A;
  margin-right: 0;
  
 }



 .banner-profile-pic{
    
    width: auto;
    position: absolute;
    /* left: 75%; */
    right: 2%;
    bottom: 0%;

    
 }




 /* main section */

 main{
  padding:150px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 }

 .section-title{
  font-family: "Open Sans", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
 }

 .section-description{
  font-family: "Open Sans", serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 30px;
 }

 /* about styles */
 .about{
  padding: 10% 10%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 130px;
 }

 .about-container{
  background: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
 }


 .about-table{
  text-align: center;
  font-family: "Open Sans", serif;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  
 }

 .about-table .table-header{
  font-size: 1.3rem;
  font-weight: normal;


  word-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
 
  
 }

 .about-table .table-data{
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;


  word-wrap: break-word; 
  word-break: break-word;
  white-space: normal; 
 
 }


 /* Skill Section */

 .my-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 }

 .my-skills .text{
  text-align: center;
  padding: 0px 10% 4% 10%;
 }



 .card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap:24px;
  margin-bottom: 130px;
 }

 .card .card-container{
  flex: 0 1 10%;
  /* min-width: 5%; */
  background-color: white;
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,6%);
  
 }

 .card-container h3{
  font-size: 1.3rem;
  font-weight: bold;
  color: #181818;
  padding-top: 10%;
 }


 .skill-description{
  font-size: 1.04rem;
  font-weight: normal;
  color:#757575;
  padding-top: 10%;
  
 }



 /* Resume Section */

.resume-container{
  display: flex;
  gap: 24px;
}

 .resume-column-title{
  font-size: 1.95rem;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
 }

 .download-cv .btn-primary {
  width: 10%;
  height: 6vh;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.experience-title{
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 10px;
 }

 .experience-subtitle{
  font-size: 1.3rem;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
 }

 .experience-description {
  font-size: 1.04rem;
  font-weight: normal;
  color: #757575;
  margin-bottom: 30px;
 }

 hr{
  color:#D1D1D1;
  
  margin: 30px 10px 30px 0px;
  
 }

.download-cv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


/* footer */

footer{
 
  padding-top: 10%;
  padding-bottom: 5%;
  gap: 5%;
  width: 100%;
  height: auto;
  
}
.footer-column .section-title {
  text-align: left;
}

.footer-column .btn-primary {
  width: 50%;
  height: 6vh;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}



.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-right: 25.4%;
  margin-left: 15%;

}

.footer-container .text-sec {
  
  text-align: left;
  width: 100%;
}
.footer-column .social-logo img{
  padding-right: 20px;
}

.footer-container .section-description {
  width: 25vw;
}

.footer-column{
 
 flex: 0 1 5%;
 
  
}

.footer-column input[type="text"], .footer-column input[type="email"]{
  font-size: 1.04rem;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  background-color: white;
  height: 64px;
  border-radius: 5px;
  border:none;
  display: block;
  padding: 10px 15px;
  width: 25vw;
 
  /* width: 270%; */
  
}


.footer-column textarea{
  font-size: 1.04rem;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  background-color: white;
  height: 180px;
  border-radius: 5px;
  border:none;
  display: block;
  padding: 10px 15px;
  width: 25vw;
  /* width: 270%; */
  
}

.hide {
  display: none;
}




@media screen and (max-width:576px)
{
  html, body {
    font-size: 14px;
    
}
  .header{
    background-position: top 5% left 2%, bottom  center;
    background-size: 10%, 100%;
 
  }

  nav {
    flex-direction: column;
   
    margin-left: 2%;
   
}


  nav ul{
    justify-content: space-between;
    margin-top: 5%;
   
  }

  nav .btn-primary {
    height: 4vh;
    
  }



  .banner{ 
    margin-left: 15%; 
   
  }


 .banner .btn-primary{
  margin-right: 7%;
  width: 40%;
  text-align: center;
  display: block;
  margin-bottom: 8%;
}


.banner .contact-btn{
  
 }

 .banner-profile-pic{
    
  width: 60%; 
}


/* main section */

main{
  padding:150px 4%;
  align-items: center;
 }


 /* about styles */
 .about{
  padding: 7% 7%;
 }

 .about-table{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
 
  
 }

 .about-table .table-header{
  font-size: 1.3rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;

  margin-right: 0;
 
  
 }

.about-table .table-data{
  font-size: 1rem;
  
  display: flex;
  flex-direction: column;
 
  margin-left: 0;
 
 
 } 

 .card,.resume-container{
  flex-direction: column;
  padding: 7% 7%;
 }

 .download-cv .btn-primary {
  width: 30%;
  height: 4vh;
  
}


/* Footer */
.footer-container {
  flex-direction: column;

}

.footer-container .section-description {
  width: 70vw;
}

.footer-column input[type="text"], .footer-column input[type="email"] {
  width: 70vw;
}

.footer-column textarea{
 width: 70vw;
}

}